<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
دایی موند
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    به اولین تمرین از فصل‌های مدل‌سازی کالج خوش‌آمدید 😊🎉
    <br>
    هدف ما در این مسئله این است که قیمت الماس‌ها را بر اساس تعدادی از ویژگی‌های آن‌ها پیش‌بینی کنیم.
    برای حل این مسئله به سراغ الگوریتم رگرسیون خطی خواهیم رفت.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
مجموعه‌داده‌ آموزشی‌ای که در اختیار داریم شامل ۱۰ ستون است که در جدول زیر، توضیحات هر کدام از ستون‌ها آورده شده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>carat</code>|وزن الماس به معیار قیراط|
|<code>cut</code>|کیفیت تراش‌خوردگی الماس|
|<code>color</code>|رنگ الماس از J(بدترین) تا D (بهترین)|
|<code>clarity</code>|معیار شفافیت الماس (از چپ به راست از بدترین به بهترین: I1, SI2, SI1, VS2, VS1, VVS2, VVS1, IF)
|<code>x</code>|طول الماس به میلی‌متر|
|<code>y</code>|عرض الماس به میلی‌متر|
|<code>z</code>|عمق الماس به میلی‌متر|
|<code>depth</code>|عمق درصدی که برابر است با z / mean(x,y)|
|<code>table</code>|عرض عریض‌ترین نقطه بالایی الماس|
|<code>price</code>|قیمت الماس|

</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>diamonds_train.csv</code> و نمونه‌های آزمون که باید قیمت آن‌ها را پیش‌بینی کنید در فایل <code>diamonds_test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه‌ی آموزشی را به عنوان مجموعه‌ی اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
train = pd.read_csv('../data/diamonds_train.csv')
train.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
test = pd.read_csv('../data/diamonds_test.csv') 
test.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.73      Ideal     G    VVS2   61.9   55.0  5.83  5.77  3.59
1   0.61    Premium     F    VVS2   59.7   58.0  5.56  5.53  3.31
2   1.55    Premium     I     VS1   58.2   60.0  7.69  7.59  4.45
3   0.46       Good     F      IF   56.2   61.0  5.16  5.24  2.92
4   1.10  Very Good     F     VS2   60.6   58.0  6.67  6.77  4.07

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
pipe = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy='median')),
        ('std_scaler', StandardScaler()),
        ('dim_reduction', PCA(n_components=2)),
        ]
    )

In [4]:
null = train.isnull().sum()
print(null)

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [5]:
train['color'].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [7]:
# Do some preprocessing!
mapping= {
    'D' : 7,
    'E' : 6,
    'F' : 5,
    'G' : 4,
    'H' : 3,
    'I' : 2,
    'J' : 1
}
train.color = train['color'].map(mapping)

In [8]:
train.color.unique()

array([6, 2, 1, 3, 5, 4, 7], dtype=int64)

In [6]:
train.cut.unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [10]:

cut_mapping = {
    'Ideal': 5,
    'Premium': 4,
    'Very Good': 3,
    'Good': 2,
    'Fair': 1
}

train['cut'] = train['cut'].map(cut_mapping)

In [11]:
train.head()

   carat  cut  color clarity  depth  table  price     x     y     z
0   0.23    5      6     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    4      6     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      6     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    4      2     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      1     SI2   63.3   58.0    335  4.34  4.35  2.75

In [12]:
mapping= {
    'IF' : 8,
    'VVS1' : 7,
    'VVS2' : 6,
    'VS1' : 5,
    'VS2' : 4,
    'SI1' : 3,
    'SI2' : 2,
    'I1' : 1
}
train.clarity = train['clarity'].map(mapping)

In [13]:
train.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75

In [14]:
data = train[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']]
target = train['price']

In [15]:
data.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.23    5      6        2   61.5   55.0  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0  4.34  4.35  2.75

In [16]:
target.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده‌ها را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    الگوریتم <code>LinearRegression</code> نیز در کتابخانه‌ی <code>scikit-learn</code> به‌خوبی پیاده‌سازی شده و می‌توانیم از آن جهت اجرای الگوریتم <i>رگرسیون خطی</i> بر روی داده‌های خود کمک بگیریم.
</font>
</p>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
آموزش مدل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در سلول پایین با استفاده از کتابخانه <code>scikit-learn</code> مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    <b>حتما باید از مدل رگرسیون خطی یعنی <code>LinearRegression</code> استفاده کنید.</b>
</font>
</p>

In [17]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(data, target)

LinearRegression()

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>r2_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه‌ی آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [18]:
from sklearn.metrics import r2_score
y_pred = model.predict(data)
r2_score(target, y_pred)

0.9071621199922815

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>80</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدل‌سازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول زیر آماده کنید.
</font>
</p>

<center>
<div dir=rtl style="line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>price</code>|قیمت پیش‌بینی‌شده برای الماس|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
توجه داشته باشید که:
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium; margin-right:48px">
<font face="vazir" size=3>
    ۱. نام دیتافریم پاسخ شما حتماً باید <code>submission</code> باشد، در غیر این‌صورت سامانه‌ی داوری نمی‌تواند تلاش شما را ارزیابی کند.
    <br>
    ۲. این دیتافریم تنها شامل یک ستون با نام <code>price</code> بوده و شامل ۳۹۴۰ ردیف است.
    <br>
    ۳. ترتیب ردیف‌های دیتافریم باید دقیقاً مطابق با نمونه‌های آزمون باشد. یعنی به‌عنوان مثال اولین ردیف شما باید پیش‌بینی مدل‌تان برای نمونه‌ی آزمون اول باشد.
</font>
</p>

In [19]:
Test = pd.read_csv('../data/diamonds_test.csv')

In [20]:
Test.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.73      Ideal     G    VVS2   61.9   55.0  5.83  5.77  3.59
1   0.61    Premium     F    VVS2   59.7   58.0  5.56  5.53  3.31
2   1.55    Premium     I     VS1   58.2   60.0  7.69  7.59  4.45
3   0.46       Good     F      IF   56.2   61.0  5.16  5.24  2.92
4   1.10  Very Good     F     VS2   60.6   58.0  6.67  6.77  4.07

In [21]:
Test['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:
x1 = OrdinalEncoder(categories = [['Fair', 'Good', 'Very Good', 'Premium', 'Ideal']], dtype = np.int64)
Test['cut'] = x1.fit_transform(Test[['cut']])

In [24]:
Test.head()

   carat  cut color clarity  depth  table     x     y     z
0   0.73    4     G    VVS2   61.9   55.0  5.83  5.77  3.59
1   0.61    3     F    VVS2   59.7   58.0  5.56  5.53  3.31
2   1.55    3     I     VS1   58.2   60.0  7.69  7.59  4.45
3   0.46    1     F      IF   56.2   61.0  5.16  5.24  2.92
4   1.10    2     F     VS2   60.6   58.0  6.67  6.77  4.07

In [25]:
x2 = OrdinalEncoder(categories = [['J','I','H','G','F','E','D']], dtype = np.int64)
Test['color'] = x2.fit_transform(Test[['color']])

In [26]:
Test.head()

   carat  cut  color clarity  depth  table     x     y     z
0   0.73    4      3    VVS2   61.9   55.0  5.83  5.77  3.59
1   0.61    3      4    VVS2   59.7   58.0  5.56  5.53  3.31
2   1.55    3      1     VS1   58.2   60.0  7.69  7.59  4.45
3   0.46    1      4      IF   56.2   61.0  5.16  5.24  2.92
4   1.10    2      4     VS2   60.6   58.0  6.67  6.77  4.07

In [27]:
x3 = OrdinalEncoder(categories = [['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']],dtype=np.int64)
Test['clarity'] = x3.fit_transform(Test[['clarity']])

In [28]:
Test.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.73    4      3        5   61.9   55.0  5.83  5.77  3.59
1   0.61    3      4        5   59.7   58.0  5.56  5.53  3.31
2   1.55    3      1        4   58.2   60.0  7.69  7.59  4.45
3   0.46    1      4        7   56.2   61.0  5.16  5.24  2.92
4   1.10    2      4        3   60.6   58.0  6.67  6.77  4.07

In [29]:
# predict test samples

y_pred_test = model.predict(Test)
submission = pd.DataFrame(y_pred_test, columns = ['price'])
submission

            price
0     3210.708966
1     2461.562146
2     9340.308386
3     2173.307700
4     5578.195928
...           ...
3935  9584.063476
3936  4079.063624
3937  5899.938188
3938  9857.014431
3939  8645.323509

[3940 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [30]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
joblib.dump(model, 'model')
file_names = ['diamond.ipynb', 'submission.csv', 'model']
compress(file_names)

File Paths:
['diamond.ipynb', 'submission.csv', 'model']

<h4 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>راهنمایی</b>
</font>
</h4>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ۱. ستون‌های دسته‌ای (<i>categorical</i>) دیتافریم را می‌توانید <code>labelEncode</code> کنید.
    <br>
    ۲. فراموش نکنید که مراحل پیش‌پردازش خود را بر روی نمونه‌های آزمون نیز اعمال کنید.
</font>
</p>