In [3]:
import pandas as pd

In [4]:
train_data = pd.DataFrame({'column': [10, 15, 20, 100, 5]})

In [5]:
lower_bound = 10
upper_bound = 30

In [6]:
train_data['column'] = train_data['column'].where(
    (train_data['column'] >= lower_bound) & (train_data['column'] <= upper_bound)
)

In [7]:
train_data

   column
0    10.0
1    15.0
2    20.0
3     NaN
4     NaN